@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Montserrat:ital,wght@1,500;1,600&family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* NAV BAR */
nav{
    background-color: rgb(86, 26, 143);
    color: white;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

nav ul{
    list-style: none;
}

/* GAME CONTAINER */
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;

}

.imgbox img{
    width: 0;
    height: auto;
    transition: width 0.1s ease-in-out;
}

.box{
    border: 1px solid black;
    font-size: 8vw;
    cursor: pointer;   
    display: flex;
    align-items: center;
    justify-content: center;     
}
.box:hover{
background-color: rgb(222, 214, 236);
transition: 0.5s ease-out;
}

.gameinfo{
    font-family: 'Baloo Bhaina 2', cursive;
}

/* For Border */

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.bl-0{
    border-left: 0;
}

.br-0{
    border-right: 0;
}

/* Reset button */
#reset{
    margin: 0 20px;
    padding: 1px 20px;
    background-color: rgb(228, 178, 228);
    border: none;
    border-radius: 10px;
   cursor: pointer;
   font-family: 'Baloo Bhaina 2', cursive;
   font-size: 15px;
   font-weight: bold
}

.info{
    font-size: 30px;
}

@media screen and (max-width: 800px)
{
  .gameContainer{
    flex-wrap: wrap;
  }

  .gameinfo{
    font-size: 0.5rem;
  }

  .info{
    font-size: 1rem;
  }

  .container{
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, 20vw);
  }
}

